<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send message">
</form>
<div>
    {% if link_list %}
        <nl>
            {% for link in link_list %}
                <li>
                    Short link:
                    <a href="{{ link.shortened_link }}">{{ link.shortened_link }}</a>
                    Full link:
                    <a href="{{ link.shortened_link }}">{{ link.full_link }}</a>
                    Redirects: {{ link.redirects }}
                </li>
            {% endfor %}
        </nl>
    {% else %}
        <p>Some error occurred.</p>
    {% endif %}

</div>